# 1) Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
import seaborn as sns
from sklearn.preprocessing import PolynomialFeatures

rcParams['figure.figsize'] = 20, 6

from datetime import datetime, timedelta


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 2) Getting File Names in a Folder / Import Data

In [2]:
def existing_file_list(path):
    ''' Extracting File Names '''

    allFiles = glob.glob(path + "/*.csv")
    new_list = []
    for i in allFiles:
        before = 'original\\'
        after = '_minute'
        ticker = i[i.find(before) + len(before) : i.find(after)]
        new_list.append(ticker)    
    #list_ticker = list(filter(None, text))  # drop all the empty elements and put them in a list
        
    return (new_list)

In [4]:
mypath = 'F:\\OneDrive - Georgia State University\\Data Science\\AKDSPW\\Solar Farm Forecasting\\Data\\'

from os import listdir
from os.path import isfile, join
data_list = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [5]:
data_list

['15min_dropNA.csv',
 '15min_linearNA.csv',
 'SOLARFARM1_15MIN_201001_201804.csv',
 'SOLARFARM1_DATA_201201_201607.csv']

In [12]:
# DateTime
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d %H:%M:%S')
file = data_list[1]
data = pd.read_csv(mypath + file, parse_dates=['dattim'], date_parser=dateparse, engine='python', index_col='dattim')

In [13]:
data.isnull().values.any()

False

# 3) Feature Engineering

1) quadratic and cubic of [irr, irr_t-1, irr_t-2, irr_t-3]
2) Feature extraction - importance test.

In [14]:
data1 = pd.DataFrame(data['avepow'])

In [15]:
for i in range(1, 14):
    value = data['avepow'].shift(periods=i)
    data1['avepow_t-' + str(i)] = value
    #data1['avepow_t-' + str(i) + '_quad'] = value ** 2
    #data1['avepow_t-' + str(i) + '_cubic'] = value ** 3
    

data1.dropna(axis=0, inplace=True, )

In [16]:
data1.head()

,avepow,avepow_t-1,avepow_t-2,avepow_t-3,avepow_t-4,avepow_t-5,avepow_t-6,avepow_t-7,avepow_t-8,avepow_t-9,avepow_t-10,avepow_t-11,avepow_t-12,avepow_t-13
dattim,,,,,,,,,,,,,,
2010-01-01 03:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010-01-01 03:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010-01-01 04:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010-01-01 04:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
data1.to_csv(mypath + file[:-4] + '_onlylag.csv' )

In [37]:
poly = PolynomialFeatures(2)
poly_df = pd.DataFrame(poly.fit_transform(data1), index=data.index)


#poly_df = pd.DataFrame(poly_df, columns=data)

In [38]:
poly_df.head()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
dattim,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:15:00,1.0,43.52,0.0,0.0,3.04,0.0,2009.0,12.0,31.0,3.0,...,961.0,93.0,744.0,465.0,9.0,72.0,45.0,576.0,360.0,225.0
2010-01-01 00:30:00,1.0,43.52,0.0,0.0,3.42,0.0,2009.0,12.0,31.0,3.0,...,961.0,93.0,744.0,930.0,9.0,72.0,90.0,576.0,720.0,900.0
2010-01-01 00:45:00,1.0,43.50,0.0,0.0,3.18,0.0,2009.0,12.0,31.0,3.0,...,961.0,93.0,744.0,1395.0,9.0,72.0,135.0,576.0,1080.0,2025.0
2010-01-01 01:00:00,1.0,43.50,0.0,0.0,3.11,0.0,2010.0,1.0,1.0,4.0,...,1.0,4.0,1.0,0.0,16.0,4.0,0.0,1.0,0.0,0.0
2010-01-01 01:15:00,1.0,43.48,0.0,0.0,3.40,0.0,2010.0,1.0,1.0,4.0,...,1.0,4.0,1.0,15.0,16.0,4.0,60.0,1.0,15.0,225.0

In [41]:
poly_df.to_csv(mypath + file[:-4] + '_featured_poly.csv' )